.vscode/settings.json
.venv/
data/images/train
data/images/val
data/processed
annotations/train-annotations.json
annotations/val-annotations.json
annotations/depth_TEST_segments.json
best_model.keras
baseline_model.keras
scripts/__pycache__
models/
